<html>
    <head>
        <title>Sign Up Form</title>
    </head>
    <body>
        <h1>Sign Up Form</h1>
        <form method="POST">
        <input name="phone_number" id="id_new_number" placeholder="Enter your phone Number" />
        <input name="email" id="id_new_email" placeholder="Enter your email address" />
        {% csrf_token %}
        </form>
        <table id="id_email_phone_number_table">
        {% for item in phoneemails %}
            <tr><td>1: {{ item.text }}</td></tr>
        {% endfor %} 
    </table>
    </body>
</html>
